include Init.py
include InitGui.py
include ocw_kicad_plugin.py
include README.md
include pyproject.toml
recursive-include resources *.svg *.ui *.yaml *.json
recursive-include ocw_workbench *.yaml *.svg *.json *.ui
recursive-include examples *.yaml
